.card {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 3px 5px grey;
  border-radius: 3px;
  min-width: 300px;
  transition: all 0.3s;

  &-specifications {
    padding: 1rem;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 20px rgb(170, 170, 170);
  }
}
